build
*.class
*.ear
.project
.classpath
*.iml
*.iws
*.ipr
*versionsBackup
*/*versionsBackup

*/.settings/
*/.idea/
*/.gradle/
*/.svn/
*/target/
*/build/
*/bin/
*/classes/

.settings/
.idea/
.gradle/
.svn/
target/
build/
bin/
classes/
generated/